# Study Jam 3.0 Hackathon - Regression Challenge

## Instructions

Your task is to train a model to predict the column **target** using rest of the columns from the training dataset.

Then predict the test using the columns in the test dataset using your model. 

You will be judged by the accuracy of the model based on the test dataset. RMSE will be used to calculate accuracy. 

Email your predictions (5640 rows,1 column) to sj3hackathon@gmail.com . Include your name, slack name, team name in the email. If you have any questions, please contact Sandeep Pawar or Sayeh Ahmed on Slack.

To get you started, we have probvided the links to the datasets below. 

Good luck !!

In [1]:
import pandas as pd
import numpy as np

In [9]:
train_path = "https://raw.githubusercontent.com/pawarbi/datasets/master/train_sj3.csv"
test_path = "https://raw.githubusercontent.com/pawarbi/datasets/master/test_sj3.csv"

# You can also download the csv files from 
# https://drive.google.com/drive/folders/1kiQ3HVgVIInlqnsLCk7WlzvxNcFOz9Pr?usp=sharing

## Training Dataset

In [10]:
train_df = pd.read_csv(train_path)

train_df.head(5)

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,target
0,924,3.000000,70.064256,24.020824,44.508426,24.310492,3.117595,cat2,398.455102,cat13,1416.142572
1,956,4.898979,56.267220,20.591260,32.878564,20.000000,2.886815,cat2,70.823087,cat2,1416.142572
2,1583,4.242641,94.620294,32.771939,54.872580,31.511903,3.276767,cat2,770.742788,cat11,1416.142572
3,1586,4.000000,87.641314,30.757113,52.697249,30.133038,3.086600,cat2,751.995992,cat13,1416.142572
4,3487,3.162278,87.549986,31.606961,59.304300,31.591138,3.298560,cat2,695.048624,cat5,1416.142572

In [11]:
train_df.shape

(15000, 11)

## Test Dataset

In [6]:
test_df = pd.read_csv(test_path)

test_df.head(5)

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9
0,15617,7.211103,36.249138,17.804494,21.748563,15.811388,2.084994,cat1,432.488573,cat5
1,15618,7.211103,53.404120,24.103942,28.948230,22.583180,2.841742,cat1,151.342594,cat11
2,15619,7.211103,70.604532,36.810325,42.988371,35.425979,2.218355,cat1,385.458208,cat2
3,15621,7.211103,27.221315,13.038405,16.643317,12.845233,2.114521,cat1,20.638930,NaN
4,15622,7.211103,50.823223,25.922963,36.537652,24.758837,1.774176,cat1,709.821361,cat15

In [12]:
test_df.shape

(5640, 10)

# Predictions

Your predictions on the test set will look like below with 1 column and 5640 rows

In [16]:
np.arange(1,5641)

array([   1,    2,    3, ..., 5638, 5639, 5640])